<%# <div class="navbar-container"> %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "#", class: "logo-name" do %>
      <p id="logo-name-letters">AEJW</p><p id="logo-name-stop">.</p>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">      
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Biography", "#biography", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Experience", "#experience", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Education", "#education", class: "nav-link" %>
        </li>      
      </ul>
    </div>
  </div>
  <%# <hr class="grey-line" id="navbar-grey-line">  %>
<%# </div> %>
