<div class="home">
  <div class="home-container">
    <div class="banner">
      <div class="banner-content">
        <div class="left-banner-content">
          <div class="job-description">
            <h1>Full stack web dev</h1>
            <h1>Ruby on Rails focus</h1>
            <h5 class="home-tagline">I have done a lot of things, many of them relevant to the job I have applied for.</h5>
          </div>
          <div class="middle-left-banner">
            <div class="middle-left-left">
              <div class="introduction">
                <h4>Hello, I'm Alec</h4>
                <p>I am web developer experienced with ruby on rails, react/redux and svelte(kit).</p>
              </div>
              <div class="personal-links">
                <h4>Where to find me</h4>
                <ul>
                  <li><%= link_to "Github",  "https://github.com/W-edu", target: "_blank" %></li>
                  <li><%= link_to "Linked In",  "https://www.linkedin.com/in/aejw", target: "_blank" %></li>
                  <li><%= link_to "Something Else",  "/", target: "_blank" %></li>
                </ul>
              </div>        
            </div>
            <div class="middle-left-right">
              <div class="call-to-arms-box">
                <h2>Hire me!</h2>
                <div class="contact-information-links">
                <p>I'm available at</p>
                  <div class="contact-information-link">
                    <i class="far fa-envelope contact-information-symbol"></i>
                    <p id="highlighted-email-address">aejw@pm.me</p>
                  </div>
                  <div class="contact-information-link">
                    <i class="fas fa-phone contact-information-symbol"></i>
                    <p>07771 771 177</p>
                  </div>
                </div>
              </div>
            </div>      
          </div>
          <div class="hire-me-container">
            <div class="hire-me-button">
              <h4>Download CV</h4>
              <i class="fas fa-download"></i>
            </div>
          </div>
        </div>
        <div class="right-banner-content">
          <div class="profile-picture">
            <img src="https://res.cloudinary.com/dlm5qwdjs/image/upload/c_fill,h_757,w_458/v1624310968/headshot_zwmznt.jpg" alt="profile picture">
          </div>
        </div>
      </div>
    </div>
    <%= render 'pages/home/biography' %>
    <%= render 'pages/home/experience' %>
    <%= render 'pages/home/education' %>    
  </div>
</div>

<%= render 'pages/home/footer' %>
<!--
-->