<head>
  <% content_for :for_head do %>
    <title>Alec Wayman | Log In</title>
  <% end %>
</head>

<div class="session">
  <div class="container session-container">
    <div class="log-in-box">
      <h1>Log in</h2>
      <p>Please log in with the username you have been issued.</p>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      label: false,
                      placeholder: "Email",
                      label_html: { class: 'log-in-label' },
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      label: false,
                      placeholder: "Password",
                      label_html: { class: 'log-in-label' },
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me,
                      label_html: { class: 'log-in-label' },
                      as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "log-in-button" %>
        </div>
      <% end %>

      <div class="account-management-links">
        <%#= render "devise/shared/links" %>
      </div>
    </div>
    <%# <div class="session-right"> %>
      <%# <h1>Welcome to my site</h1> %>
    <%# </div> %>
  </div>
</div>
