<!DOCTYPE html>
<html>
  <head>
    <%# <title>Alec Wayman | Profile</title> %>
    <% title = "Alec Wayman | Profile" %>
    <% if content_for? :for_head %>
      <%= yield :for_head %>
    <% else %>
      <title><%= title %></title>
    <% end %>

    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dlm5qwdjs/image/upload/v1624552079/favicon_3_zshmna.ico"/>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Playfair+Display:wght@500;700&display=swap" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar2' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

  </body>
</html>
